@import 'colors.less';

#app-root-2022-wcp .app {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto auto;
  max-width: 1350px;
  width: 100%;
  .search_container {
    // background: linear-gradient(#fff 70%, transparent 100%);
    // padding: 0 0 40px 0;
    // position: sticky;
    // top: 0;
    // z-index: 3;
    select {
      font-size: 16px;
      max-width: 600px;
      width: 100%;
    }
  }
  .vis_container {
    align-items: flex-start;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    .element_container {
      // margin-bottom: 50px;
      // width: calc(50%);
      box-sizing: border-box;
      display: none;
      opacity: 0;
      transition-duration: 1s;
      transition-property: opacity;
      &.element_0 {
        display: block;
        opacity: 1;
      }
      // @media all and (max-width: 700px) {
      //   width: 100%;
      //   &:nth-child(even) {
      //     // background-color: rgba(124, 112, 103, 0.2);
      //   }
      // }
      // @media all and (min-width: 700px) {
      //   &:nth-child(even) {
      //     padding: 0 5px 0 20px;
      //   }
      //   &:nth-child(odd) {
      //     padding: 0 20px 0 5px;
      //   }
      // }
      h3 {
        background-color: @unblue;
        color: #fff;
        padding: 20px 10px;
      }
      h4 {
        margin: 10px 0 20px 0;
      }
      .answer_yes {
        display: block;
        h4 {
          &:after {
            border-bottom: 3px solid @unblue;
            content:'';
            display: block;
            width: 200px;
          }
        }
      }
      .answer_no {
        display: block;
        h4 {
          &:after {
            border-bottom: 3px solid @unred;
            content:'';
            display: block;
            width: 200px;
          }
        }
      }
      .no_answer {
        filter: grayscale(100%);
        h4 {
          &:after {
            border-bottom: 3px solid @ungrey;
            content:'';
            display: block;
            width: 200px;
          }
        }
      }
      .flag_container {
        align-content: center;
        align-items: center;
        background-color: transparent;
        border: 0;
        cursor: pointer;
        display: inline-flex;
        font-size: 0;
        height: 38px;
        justify-content: center;
        margin: 2px;
        position: relative;
        width: 38px;
        transition: transform 0.2s ease-in-out;
        &.highlighted,
        &:hover {
          opacity: 1;
          transform: scale(1.7);
          z-index: 2;
        }
        &.background {
          opacity: 0.3;
        }
        img {
          background-color: #fff;
          border-color: @unblue;
          border-radius: 50%;
          border-style: solid;
          border-width: 2px;
          box-sizing: content-box;
          display: inline-block;
          height: 0;
          margin: 2px;
          opacity: 0;
          padding: 2px;
          pointer-events: none;
          position: absolute;
          z-index: 1;
        }
      }
    }
  }
}

@import 'basics.less';